.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  background-color: white;
  border: 1px solid black;
  padding: 0.5rem;
  grid-gap: 0.5rem;
}

.out {
  height: 8rem;
  width: auto;
  text-align: right;
  line-height: 8rem;
  background-color: white;
  padding-right: 0.5rem;
  border: 1px solid black;
  grid-area: 1 / 1 / 2 / 5;
}

.button {
  height: 8rem;
  width: 8rem;
  text-align: center;
  line-height: 8rem;
  background-color: #eaecee;
  border: 1px solid black;
}

.number {
}

.operation {
  background-color: #d5d8dc;
}
