.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  font-size: 2em;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  background-color: white;
  border: 1px solid black;
  padding: 0.5rem;
  grid-gap: 0.5rem;
}

.out {
  height: 6rem;
  width: auto;
  text-align: right;
  line-height: 6rem;
  background-color: white;
  padding-right: 0.5rem;
  border: 1px solid black;
  grid-area: 1 / 1 / 2 / 5;
}

.button {
  height: 6rem;
  width: 6rem;
  text-align: center;
  line-height: 6rem;
  background-color:  #f2f3f4;
  border: 1px solid black;
}

.button:hover {
  filter: brightness(0.9);
}

.number {
}

.operator {
  background-color: #d7dbdd ;
}

.equals {
  background-color:  #85c1e9 ;
}
